*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.AuswertungsContainer{
    list-style: none;
    padding: 10px;
    margin: auto 0;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 10px 10px;
    border:1px solid rgba(138, 138, 138, 0.226);
    border-radius: 30px;
    background-color:#c5c2c25e;
    
      
    
}

.AuswertungsTotalZahl{
    font-size: 2rem;
    font-weight: bold;
    color: dimgrey;
    margin-bottom: 20px;
    
}

.liststyle{
    list-style: none;
}

.FrageTitel{
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #0069D9;
    margin-top: 20px;
    
}



.AuswertungsLi{
    display: flex;
    margin: auto 0;
    
}

.AuswertungsAuswahl{
    font-size: 1.2rem;
    font-weight: bold;
        width: 200px;
        
        text-align: left;
}

.AuswertungsStimmen{
    font-size: 1.2rem;
    font-weight: bold;
    width:150px;
    
    text-align: left;
        }

.PieChart{
    /* border: 1px solid black; */
    margin-left: 15px;

    
    
}

@media screen and (max-width:780px){
   .AuswertungsContainer{
       flex-direction: column;
       align-items: center;
   }

   .AuswertungsTotalZahl{
       font-size: 1.5rem;
   }

   .FrageTitel{
       font-size: 1.2rem;
       text-align: center;
       
   }

}
